@page "/thankyou"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<h1>Thank you for answering the quiz</h1>


@code{

}  